#carousel-box {
   border: 3px solid #e1f5d0 !important;
   text-align: center;
   align-items: center;
}

@media screen and (min-width: 600px) {
   #carousel-box {
      font-size: 1.1rem;
   }
}

/* ========== SWIPER ========== */
.swiper-pagination-clickable .swiper-pagination-bullet {
   background: var(--clr-primary);
}